@import "tailwindcss";

h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

button {
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}
