@import "tailwindcss";

@layer base {
  * {
    overflow-x:visible;
  }
}

.company-layout{
    background-color: white;
}

h1 {
    font-weight: 650;
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-weight: 650;
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.75rem;
}

h4{
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

h5{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

button {
    cursor: pointer;
}
