@import "tailwindcss";  /* to link the tailwind with css here to can use it*/ 

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter",'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
  }

  html, body {
    overflow-x: hidden;
  }
}